.pio
.pioenvs
.piolibdeps
cmake-build-debug
CMakeListsPrivate.txt
.idea/.gitignore
.idea/clion.iml
.idea/codeStyles/
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/platformio.iml
.idea/serialmonitor_settings.xml
.idea/vcs.xml
.idea/watcherTasks.xml
cmake-build-thingdev/CMakeCache.txt
cmake-build-thingdev/CMakeFiles/3.15.3/
cmake-build-thingdev/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-thingdev/CMakeFiles/CMakeOutput.log
cmake-build-thingdev/CMakeFiles/CMakeRuleHashes.txt
cmake-build-thingdev/CMakeFiles/CMakeTmp/
cmake-build-thingdev/CMakeFiles/Makefile.cmake
cmake-build-thingdev/CMakeFiles/Makefile2
cmake-build-thingdev/CMakeFiles/PLATFORMIO_BUILD.dir/
cmake-build-thingdev/CMakeFiles/PLATFORMIO_BUILD_DEBUG.dir/
cmake-build-thingdev/CMakeFiles/PLATFORMIO_BUILD_VERBOSE.dir/
cmake-build-thingdev/CMakeFiles/PLATFORMIO_CLEAN.dir/
cmake-build-thingdev/CMakeFiles/PLATFORMIO_DEVICE_LIST.dir/
cmake-build-thingdev/CMakeFiles/PLATFORMIO_MONITOR.dir/
cmake-build-thingdev/CMakeFiles/PLATFORMIO_PROGRAM.dir/
cmake-build-thingdev/CMakeFiles/PLATFORMIO_REBUILD_PROJECT_INDEX.dir/
cmake-build-thingdev/CMakeFiles/PLATFORMIO_TEST.dir/
cmake-build-thingdev/CMakeFiles/PLATFORMIO_UPDATE_ALL.dir/
cmake-build-thingdev/CMakeFiles/PLATFORMIO_UPLOAD.dir/
cmake-build-thingdev/CMakeFiles/PLATFORMIO_UPLOADFS.dir/
cmake-build-thingdev/CMakeFiles/TargetDirectories.txt
cmake-build-thingdev/CMakeFiles/Z_DUMMY_TARGET.dir/DependInfo.cmake
cmake-build-thingdev/CMakeFiles/Z_DUMMY_TARGET.dir/build.make
cmake-build-thingdev/CMakeFiles/Z_DUMMY_TARGET.dir/cmake_clean.cmake
cmake-build-thingdev/CMakeFiles/Z_DUMMY_TARGET.dir/depend.make
cmake-build-thingdev/CMakeFiles/Z_DUMMY_TARGET.dir/flags.make
cmake-build-thingdev/CMakeFiles/Z_DUMMY_TARGET.dir/lib/
cmake-build-thingdev/CMakeFiles/Z_DUMMY_TARGET.dir/link.txt
cmake-build-thingdev/CMakeFiles/Z_DUMMY_TARGET.dir/progress.make
cmake-build-thingdev/CMakeFiles/Z_DUMMY_TARGET.dir/src/
cmake-build-thingdev/CMakeFiles/clion-environment.txt
cmake-build-thingdev/CMakeFiles/clion-log.txt
cmake-build-thingdev/CMakeFiles/cmake.check_cache
cmake-build-thingdev/CMakeFiles/progress.marks
cmake-build-thingdev/Makefile
cmake-build-thingdev/cmake_install.cmake
cmake-build-thingdev/esp8266_wifi.cbp
test/
